.product-item {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 190px;
  border: 1px solid white;
  &:hover {
    border: 1px solid #283b8d;
  }
  .top-body {
    height: 60%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .bottom-body {
    position: relative;
    height: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    .misc {
      line-height: 14px;
      font-size: 0.75rem;
      padding: 3px;
    }
    .description {
      @extend .misc;
    }
    .product-name {
      @extend .misc;
    }
    .price {
      position: absolute;
      bottom: 0;
      font-size: 1rem;
      color: #283b8d;
      padding: 3px;
    }
  }
}

.add-to-cart {
  button {
    background-color: #283b8d;
    color: #fff;
    text-align: center;
    line-height: 1.875rem;
    border: 1px solid #283b8d;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    z-index: 1;
    width: 100%;
    padding: 2px;
    cursor: pointer;
  }
}
